extends ../layouts/common

block content
  h1 Add book
  br
  br
  form(method="POST", action="/books/create")
    .form-group
      label(for="title") Title
      input#title.form-control(name="title", type='text')
    .form-group
      label(for="des") Description
      input#des.form-control(name="description", type='text')
    button.btn.btn-primary Create

    