extends ../layouts/common

block content
  h1 List Book
  
  form(method="GET", action="/books")
    input(name="q", type='text' value=q)
    button.btn.btn-primary Search
  table.table
    th Cover
    th Title
    th Description

    each item in list
      tr 
        td
          if item.coverUrl
            img(src=item.coverUrl, alt="", width="64")
          else
            img(src="/book.png", alt="", width="64")
        td= item.title
        td  
          p= item.description
        td
          a.btn.btn-primary(href="/rent/add/" + item.id) Add to rent