extends ../layouts/common

block content
  h1 List Book
  table.table
    th Cover
    th Title
    th Description

    each item in list
      tr 
        td
          if item.coverUrl
            img(src=item.coverUrl, alt="", width="64")
          else
            img(src="/book.png", alt="", width="64")
        td= item.title
        td  
          p= item.description
  a.btn.btn-primary(href="/rent/submit") Submit