extends ../layouts/common

block content
  h1 Update book
  form(method="POST", action="/books/update")
    input#id(name="id", type="hidden", value=book.id)
    .form-group  
      label(for="title")
      input#title.form-control(name="title", type='text', value=book.title)
    .form-group
      label(for="des")
      input#des.form-control(name="description", type='text', value=book.description)
    
    button.btn.btn-primary Update

  