extends ../layouts/common
  
block content
  div(style="height: 80vh").d-flex.flex-column.justify-content-center.align-items-center
    h1(style="font-size: 100") 500
    h1 e r r o r
    p Opp... something just isn't right. Time to paw
    p through your logs and get down and dirty in your stack 
    p trace
